{
  "root": true,
  "extends": ["@guanghechen", "@guanghechen/jsx", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*tsx"],
      "extends": ["@guanghechen", "@guanghechen/jsx", "@guanghechen/ts", "prettier"]
    },
    {
      "files": ["**/__test__/*.spec.ts", "jest.helper.ts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "plugin:jest/recommended", "prettier"],
      "rules": {
        "import/no-extraneous-dependencies": 0,
        "jest/expect-expect": 0
      }
    }
  ]
}
