{
  "root": true,
  "extends": [
    "@guanghechen"
  ],
  "plugins": [
    "import",
    "jest"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "import/no-internal-modules": [
      "error",
      {
        "allow": ["util"]
      }
    ]
  }
}
