**/*.*
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx
!.rollup.config.js

**/__test__/**
!**/__test__/*.spec.ts

**/.vscode/**
**/__tmp__/**
**/coverage/**
**/demo/**
**/doc/**
**/example/**
**/lib/**
**/node_modules/**
**/*.styl.d.ts
*.tsbuildinfo
