**/*.*
!**/*.ts
!**/*.tsx
!**/*.js
!**/*.jsx
!**/*.json
!**/*.mjs
!**/*.mts
!.eslintignore
!.eslintrc

**/resource/
!packages/resource/

**/.vscode/
**/__tmp__/
**/__test__/cases/
**/__test__/fixtures/
**/coverage/
**/dist/
**/doc/
**/example/
**/lib/
**/node_modules/
**/resources/
**/test/
**/*.styl.d.ts
